---
layout: default
title: TECS Lab - Papers
categories:
 - papers
---

{% for paper in site.categories.papers %}
{% capture prev_year %}{{ this_year }}{% endcapture %}
{% capture this_year %}{{ paper.year }}{% endcapture %}

<div class="row">
    <div class="col-lg-12">
        {% if forloop.first %}
            <div class="bigspacer"></div>
            <h1>{{ this_year }}</h1>
            <div class="spacer"></div>
        {% elsif this_year != prev_year and this_year > "2016" %}
            <div class="bigspacer"></div>
            <h1>{{ this_year }}</h1>
            <div class="spacer"></div>
        {% elsif this_year != prev_year and this_year == "2016" %}
            <div class="bigspacer"></div>
            <h1>2016 and earlier</h1>
            <div class="spacer"></div>
        {% else %}
            <div></div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="smallhead mb-1"><a href="{{ paper.link }}" class="off"><i>{{ paper.title }}</i></a>

        <p class="note">{{ paper.authors }}<br>
        <b>{{ paper.venue }}</b>
        {% if paper.pdf %}
        	<i class="fa fa-file-text-o fa-fw"></i>
        	<a class="off" href="{{ paper.pdf }}">PDF</a>
        {% endif %}
        {% if paper.slides %}
        	<i class="fa fa-file-text-o fa-fw"></i>
        	<a class="off" href="{{ paper.slides }}">Slides</a>
        {% endif %}
        {% if paper.video %}
        	<i class="fa fa-file-text-o fa-fw"></i>
        	<a class="off" href="{{ paper.video }}">Video</a>
        {% endif %}
        {% if paper.github %}
        	<i class="fa fa-github-alt fa-fw"></i>
        	<a class="off" href="https://github.com/{{ paper.github }}">GitHub</a>
        {% endif %}
        </br>
    </div> 
</div>
{% endfor %}
